@charset "utf-8";

/* Header Section */
#header {
  /* outline: 1px solid red; */
  width: 100%;
  height: 630px;
  background-image: url("../img/nurzod.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 360px;
}
#header::after,
#header::before {
  display: table;
  content: "";
  clear: both;
}
#header> div::after,
#header> div::before {
  display: table;
  content: "";
}
#header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .container:nth-child(1) {
  margin-top: 80px; 
}
#header .container:nth-child(2) {
  margin-top: 50px;
}
#header .logo {
  width: 60px;
}
#header .navbar {
  display: flex;
  align-items: center;
  width: 400px;
  justify-content: space-between;
}
#header .navbar a {
  color: #656774;
  font-size: 1.875rem;
  /* margin-left: 30px; */
  font-weight: 600;
  line-height: 50px;
}
#header .navbar .active {
  color: #fff;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items:center;
}
#header .navbar .active::after {
  content: "";
  position: absolute;
  text-align: center;
  margin: auto;
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #FFAF29;
}
#header .name h1{
  font-size: 5.625rem;
  font-weight: 800;
  color: #F4F4F4;
  display: inline-block;
}
#header .name h1 span {
  color: #FFAF29;
}
#header .name h1::after {
  content: "";
  height: 8px;
  width: 55px;
  background-color:#FFAF29;
  display: block;
}
#header .name .social_media {
  display: flex;
  align-items: center;
}
#header .name .social_media a {
  margin-right: 20px;  
  margin-top: 120px;
}
#header .main-info {
  padding: 0 10px;
}

/* --------------Media Screen Max-Width: 600px------------- */
@media screen and (max-width: 790px) {
  #header {
    display: flex;
    height: 100%;
    width: 100%;
    /* bottom: 0; */
    background-position: bottom;
    text-align: center;
  }
  #header > div {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5)
  }
  #header .container {
    flex-direction: column;
    width: 95%;
    margin: auto;
  }
  #header .container:nth-child(1) {
    margin-top: 30px;
  }
  #header .container:nth-child(2) {
    margin-top: 20px;
  }
  #header .logo img{
    width: 60px;
  }
  #header .navbar {
    max-width: 200px;
  }
  #header .navbar a {
    font-size: 0.875rem;
    color: rgb(185, 185, 185);
  }
  #header .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
  #header .name h1{
    font-size: 3.625rem;
    font-weight: 700;
    display: inline-block;
    padding: 0 10px;
  }
  #header .name h1::after {
    content: "";
    height: 8px;
    width: 55px;
    background-color:#FFAF29;
    margin: auto;
  }
  #header .name .social_media a {
    margin: 20px 10px;
  }
  #header .main-info {
    max-width: 400px;
  }
  #header .enterance {
    font-size: 0.675rem;
    margin-bottom: 10px;
  }
  #header .enter_title {
    padding: 0 20px;
    font-size: 1.075rem;
    margin-bottom: 15px;
  }
  #header .enter_info {
    font-size: 0.875rem;
    padding: 0 20px;
    margin-bottom: 25px;
    line-height: 20px;
  }
  #header .enter_href {
    font-size: 1rem;
    margin-bottom: 20px;
    display: block;
  }
}

/* Contact Section*/

#contact {
  width: 100%;
  height: 732px;
  background-color: #242734;
}
#contact::after,
#contact::before {
  display: table;
  content: "";
  clear: both;
}
#contact .container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-top: 120px;
}
#contact .container > div {
  width: 50%;
}
#contact .number-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#contact .number-info > div {
  display: flex;
  align-items: center;
}
#contact .number-info > div > span {
  color:#FFAF29;
  font-size: 3.75rem;
  font-weight: 500;
}
#contact .number-info > div > p {
  font-family: 'Open Sans', sans-serif;
  font-size: .875rem;
  font-weight: 600;
  color: #FBF7F7;
  margin-left: 15px;
}
#contact .enter_href {
  display: inline-block;
  margin-top: 60px;
}
#contact .skill-box {
  width: 315px;
  height: 301px;
  display: flex;
  justify-content: center;
  padding-top: 150px;
  background-color: #424657;
}
#contact .skill-box img {
  height: 28px;
  margin-top: 7px;
  margin-right: 30px;
}
#contact .skill-box p {
  font-size: 1.75rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}
#contact .skill-box span {
  font-size: .875rem;
  color: #fff;
}
#contact #active_box {
  background-color:#FFAF29;
}
#contact #active_box img {
  height: 30px;
}
@media screen and (max-width: 790px) {
  #contact {
    height: 100%;
  }
  #contact .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 0 20px;
    text-align: center;
  }
  #contact .container > div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #contact .number-info {
    width: 100%;
  }
  #contact .enterance {
    font-size: 0.675rem;
    margin-bottom: 10px;
  }
  #contact .enter_title {
    padding: 0 20px;
    font-size: 1.075rem;
    margin-bottom: 15px;
  }
  #contact .enter_info {
    font-size: 0.875rem;
    padding: 0 20px;
    margin-bottom: 25px;
    line-height: 20px;
  }
  #contact .enter_href {
    font-size: 1rem;
    margin-bottom: 20px;
    display: block;
    margin-top: 0px;
  }
  #contact .number-info > div > span {
    font-size: 2.75rem;
  }
  #contact .skill-box {
    display: none;
  }
}

/* --------------Portfolio------------------ */

#portfolio {
  margin-top: 270px;
}
#portfolio::after,
#portfolio::before {
  content: "";
  display: table;
  clear:both;
}
#portfolio .container {
  display: flex;
  justify-content: space-between;
}
#portfolio .port_left-sec .port {
  margin-top: 50px;
}
#portfolio .port_right-sec .port:nth-child(3) {
  margin-top: 50px;
}
@media screen and (max-width: 790px) {
  #portfolio {
    margin-top: 40px;
  }
  #portfolio .container {
    width: 100%;
    padding: 0 20px;
    margin:auto;
    flex-direction: column;
    text-align: center;
  }
  #portfolio .port_left-sec .port {
    margin-top: 30px;
  }
  #portfolio .port_right-sec .port:nth-child(2),
  #portfolio .port_right-sec .port:nth-child(3) {
    margin-top: 30px;
  }
  #portfolio .port img {
    width: 100%;
    max-width: 400px;
  }
  #portfolio .enterance {
    font-size: 0.675rem;
    margin-bottom: 10px;
  }
  #portfolio .enter_title {
    padding: 0 20px;
    font-size: 1.075rem;
    margin-bottom: 15px;
  }
  #portfolio .enter_info {
    font-size: 0.875rem;
    padding: 0 20px;
    margin-bottom: 25px;
    line-height: 20px;
  }
  #portfolio .enter_href {
    font-size: 1rem;
    margin-bottom: 20px;
    display: block;
    margin-top: 0px;
  }
}

/* -------------------Blog----------------- */

#blog {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 100px;
  margin-top: 140px;
  background-color: #242734;
}
#blog::after,
#blog::before {
  display: table;
  content: "";
  clear: both;
}
#blog .container {
  display: flex;
  justify-content: space-between;
}
#blog .container > div {
  width: 50%;
}
#blog .news {
  display: flex;
  border-bottom: 1px solid #72737E;
  align-items: center;
  padding-bottom: 30px;
  margin-bottom: 35px;
  justify-content: space-between;
}
#blog .news > * {
  display: flex;
}
#blog .news:nth-child(3) {
  border: 0;
  padding-bottom: 0;
}
#blog .news span {
  font-size: .875rem;
  color: #93949D;
}
#blog .news p {
  font-size: 1.25rem;
  color: #fff;
}
#blog .container:nth-child(2) {
  margin-top: 130px;
  align-items: center;
}
#blog .think {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 34px;
  color: #fff;
  margin: 20px 0 40px;
}
#blog .client_think h3 {
  font-size: 1.25rem;
  color: #fff;
  font-weight: 600;
}
#blog .client_think > span {
  font-size: 0.875rem;
  color: #888888;
  margin-top: 10px;
  display: inline-block;
}
#blog .btns {
  display: flex;
}
#blog .btns span {
  height: 8px;
  width: 57px;
  background-color: #424657;
  margin-right: 25px;
  margin-top: 30px;
  cursor: pointer;
}
#blog .btns .active {
  background-color:#FFAF29;
}
@media screen and (max-width: 790px) {
  #blog {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #blog .container {
    width: 100%;
    padding: 0 20px;
    margin:auto;
    flex-direction: column;
    text-align: center;
  }
  #blog .container > div {
    width: 100%;
  }
  #blog .client_think > img {
    display: none;
  }
  #blog .client_img img{
    width: 100%;
  }
  #blog .enterance {
    font-size: 0.675rem;
    margin-bottom: 10px;
  }
  #blog .enter_title {
    padding: 0 20px;
    font-size: 1.075rem;
    margin-bottom: 15px;
  }
  #blog .news {
    padding-bottom: 20px;
    margin: 20px 30px 0;
  }
  #blog .news span {
    font-size: .675rem;
  }
  #blog .news p {
    font-size: 1rem;
  }
  #blog .news img {
    width: 10px;
  }
  #blog .container:nth-child(2) {
    margin-top: 40px;
  }
  #blog .think {
    font-size: 1rem;
    line-height: 24px;
    margin-top: 7px;
    margin-bottom: 20px;
  }
  #blog .btns {
    justify-content: center;
  }
  #blog .btns span {
    height: 5px;
    width: 37px;
    margin-right: 15px;
    margin-top: 10px;
  }
}

/* -----------Contact Us------------ */

#contact_us {
  width: 100%;
  margin-top: 140px;
  margin-bottom: 100px;
}
#contact_us::after,
#contact_us::before {
  display: table;
  content: "";
  clear: both;
}
#contact_us .container {
  display: flex;
}
#contact_us .container > div {
  width: 50%;
}
#contact_us form {
  color: #fff;
}
#contact_us form label {
  font-size: 1.25rem;
  display: block;
}
#contact_us form input {
  width: 100%;
  outline: none;
  background-color: inherit;
  border: none;
  padding: 10px;
  border-bottom: 1px solid #767883;
  display: block;
  color:#93949D;
  font-size: 1rem;
  margin-bottom: 20px;
}
#contact_us form > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact_us form > div img {
  margin-left: 20px;
  cursor: pointer;
}
@media screen and (max-width: 790px) {
  #contact_us {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #contact_us .container {
    width: 100%;
    padding: 0 20px;
    margin:auto;
    flex-direction: column;
    text-align: center;
  }
  #contact_us .container > div {
    width: 100%;
  }
  
  #contact_us .enterance {
    font-size: 0.675rem;
    margin-bottom: 10px;
  }
  #contact_us .enter_title {
    padding: 0 20px;
    font-size: 1.075rem;
    margin-bottom: 15px;
  }
  
  #contact_us .enter_info {
    font-size: 0.875rem;
    padding: 0 20px;
    margin-bottom: 25px;
    line-height: 20px;
  }
  #contact_us .enter_href {
    font-size: 1rem;
    margin-bottom: 20px;
    display: block;
    margin-top: 0px;
  }
  #contact_us form label {
    font-size: 0.875rem;
    text-align: start;
  }
  #contact_us form input {
    font-size: 0.75rem;
    margin-bottom: 10px;
  }
  #contact_us form > div {
    width: 100%;
  }
  #contact_us form > div img {
    margin-left: 10px;
    width: 15px;
  }
}

/* --------------Footer--------------- */

#footer {
  margin-top: 100px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  text-align: center;
}
#footer::after,
#footer::before {
  display: table;
  content: "";
  clear: both;
}
#footer p {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  margin: 35px auto 60px;
}
#footer p span {
  color: #AA9E9E;
}
#footer .social_media {
  margin-bottom: 30px;
}
#footer .social_media a{
  margin: 0 10px;
}