@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

/* font-family: 'Open Sans', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}
body {
  background-color: #323647;
}
.container {
    width: 906px;
    margin: auto;
}
a {
  text-decoration: none;
}
.enterance {
  font-size: 0.875rem;
  color: #898A95;
  margin-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  display: block;
}
.enter_title {
  font-size: 1.875rem;
  color: #fff;
  margin-bottom: 25px;
}
.enter_info {
  color: #9697A2;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 35px;
  line-height: 28px;
}
.enter_href {
  color: #F9BE5C;
  font-size: 1.125rem;
  text-decoration: underline;
  font-family: 'Open Sans', sans-serif;
}

